<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
	                    http://www.springframework.org/schema/beans/spring-beans.xsd">
	                    
<context:annotation-config/>
<!-- <bean id="e" class="Employee" init-method="s" destroy-method="b">-->
<bean id="e" class="Employee">
<property name="eid" value="10"/>
<property name="ename" value="cn"/>
<property name="esal" value="55000"/>
</bean>

</beans>
